:root {
      font-size: 1.3rem;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}

img {
    height: 350px;
}
  
h1, h2, h3 {
    margin: 0;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: rgb(22, 249, 249);
    text-decoration: none;
}

img {
    width: 100;
}

/*intro styles */
#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: monospace;
}

.name span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: aquamarine;
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}


#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    
}

.section-contact {
    background-color: rgb(10, 38, 38);
}

.gradient {
    background: linear-gradient(90deg, rgb(120, 209, 179) 0%, aqua);
    height: 2px;
}

#contact p:last-child {
    margin-top: 3rem;
}

/*nav bar*/
nav {
    font-family: monospace;
    font-size: 80%;
    padding: 1rem;
}

nav ul h1 a  {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

nav li:first-child {
            flex-basis: 100%;
            text-align: center;
}

nav [class="fa-"] {
    font-size: 150%;
    color: aqua;
}
nav h1 [class*="fa-"] {
    font-size: 100%;
    color: aqua;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: aqua;
}

.button {
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
    font-family: monospace;
}

.button:hover {
    color: aliceblue;
    background-color: rgb(151, 248, 248);
}

@media (min-width: 1200px){
 nav{
    max-width: 1200px;
    margin: 0 auto;
 }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  } 
}

.section {
    background-color: rgb(19, 19, 68);
}

/*projects section */
#projects {
    padding: 4rem 1rem;
}

#projects h2 {
       font-size: 2.5rem;
       margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
        color: aquamarine;
}

#projects h4 {
       font-size: 1rem;
       font-family: monospace;
       margin: 0;
}

.blackbox {
    background-color: rgb(191, 181, 181);
    padding: 1rem;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.5;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#projects img {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid aquamarine;
    border-top: 1px solid aquamarine;
    border-radius: 25px;
    padding: 1rem;
}

@media (min-width: 1200px) {
    article {
        display:grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }

    #projects {
        max-width: 1200px;
        margin: 0 auto;
    }
    .text {
        order: 2;
        text-align: right;
        grid-column: 5/11;
        grid-row: 1/3;
    }
    #projects img {
        grid-column: 1/6;
        grid-row: 1/10;
    }
    #projects ul {
        justify-content: flex-end;
    }
     
    footer {
        text-align: center;
        padding: 4rem 0;
    }
    
}



footer ul {
    list-style-type: none;
    padding: 2rem 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    
}

footer ul li a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

